/* AirqualityMap.css */
.map-wrapper {
    height: 100vh; /* Asegúrate de que el contenedor tiene altura definida */
    width: 100%;
}

.leaflet-container {
    height: 60%; /* Asegúrate de que el contenedor del mapa ocupa todo el espacio del contenedor padre */
    width: 100%;
}